beautifulsoup4==4.13.4
certifi==2025.4.26
charset-normalizer==3.4.2
colorama==0.4.6
deep-translator==1.11.4
idna==3.10
langdetect==1.0.9
pymupdf==1.25.5
requests==2.32.3
six==1.17.0
soupsieve==2.7
typing-extensions==4.13.2
urllib3==2.4.0
